Repository Azrilardian/spotify-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint, stylelint --syntax=scss

feat(lint): prettier fix
  .prettierrc
  app/page.tsx
  commitlint.config.js
Due: prettier --write, eslint --fix, eslint

feat(jest): install and configuration jest install and minimum configuration for jest
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint

feat(app): remove default next js template style remove default next js template style
  app/globals.css
  app/layout.tsx
  app/page.tsx
  public/next.svg
  public/vercel.svg
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint, stylelint

feat(app): adding list of compontents
  app/api/hello/route.ts
  app/components/Account Profile/Account-Profile.tsx
  app/components/Album Card/Album-Card.tsx
  app/components/Albums/Albums.tsx
  app/components/Avatar/Avatar.tsx
  app/components/Dashboard/Dashboard.tsx
  app/components/Favorite Songs/Favorites Song.tsx
  app/components/Lyrics/Lyrics.tsx
  app/components/Player/Player.tsx
  app/components/Recent Playlist Card/Recent-Playlist-Card.tsx
  app/components/Recent Playlists/Recent-Playlists.tsx
  app/components/Recommended Albums/Recommended-Album.tsx
  app/components/Recommended Songs/Recommended-Songs.tsx
  app/components/Search Form/Search-Form.tsx
  app/components/Song Card/Song-Card.tsx
  app/components/Songs/Songs.tsx
Due: prettier --write, eslint --fix, eslint

feat(folder): create utils folder include constants js file inside constants js file, include music genres and links constants variable
  app/utils/constants.ts
Due: prettier --write, eslint --fix, eslint

feat(folder): create pages folder and minimun pages specification
  app/components/Searchbar/Searchbar.tsx
  app/components/Sidebar/Sidebar.tsx
  app/pages/Around You/index.tsx
  app/pages/Artist Detail/index.tsx
  app/pages/Discover/index.tsx
  app/pages/Search/index.tsx
  app/pages/Top Artists/index.tsx
  app/pages/Top Charts/index.tsx
Due: prettier --write, eslint --fix, eslint

feat(app): renaming file format
  app/globals.css
  app/page.tsx
  app/pages/Top Charts/index.tsx
  app/public/spotify-logo.svg
  app/public/spotify-logo.webp
  app/utils/constants.ts
  components/AccountProfile/AccountProfile.tsx
  components/AlbumCard/AlbumCard.tsx
  components/Albums/Albums.tsx
  components/Avatar/Avatar.tsx
  components/Dashboard/Dashboard.tsx
  components/FavoriteSongs/FavoriteSong.tsx
  components/Genres0ption/GenresOption.tsx
  components/Label/Label.tsx
  components/Lyrics/Lyrics.tsx
  components/MenuCard/MenuCard.tsx
  components/Player/Player.tsx
  components/RecentPlaylistCard/RecentPlaylistCard.tsx
  components/RecentPlaylists/RecentPlaylists.tsx
  components/RecommendedAlbums/RecommendedAlbum.tsx
  components/RecommendedSongs/RecommendedSongs.tsx
  components/Searchbar/Searchbar.tsx
  components/Sidebar/Sidebar.tsx
  components/SongCard/SongCard.tsx
  components/Songs/Songs.tsx
  next.config.js
  pages/AroundYou/index.tsx
  pages/ArtistDetail/index.tsx
  pages/Search/index.tsx
  pages/TopArtists/index.tsx
  pages/TopCharts/index.tsx
Due: prettier --write, eslint --fix, eslint, stylelint

feat(app): rename folder naming and restructure folder rename folder naming and restructure folder to valid next 13 settings
  app/around-you/page.tsx
  app/artist-detail/page.tsx
  app/error.tsx
  app/layout.tsx
  app/loading.tsx
  app/page.tsx
  app/search/error.tsx
  app/search/loading.tsx
  app/search/page.tsx
  app/top-artist/page.tsx
  app/top-charts/page.tsx
  components/Label/Label.tsx
  components/account-profile/account-profile.tsx
  components/album-card/album-card.tsx
  components/genres-option/genres-option.tsx
  components/menu-card/menu-card.tsx
  components/recent-playlist-card/recent-playlist-card.tsx
  components/recent-playlists/recent-playlists.tsx
  components/recommended-album/recommended-album.tsx
  components/recommended-songs/recommended-songs.tsx
  components/song-card/song-card.tsx
  pages/AroundYou/index.tsx
  pages/ArtistDetail/index.tsx
  pages/Search/index.tsx
  pages/TopArtists/index.tsx
  pages/TopCharts/index.tsx
Due: prettier --write, eslint --fix, eslint

feat(app): adding color to tailwind config and creating fonts folder adding some base spotify base color to tailwind config and creating fo
  app/assets/fonts/Gotham-Black.ttf
  app/assets/fonts/Gotham-Black.woff
  app/assets/fonts/Gotham-Black.woff2
  app/assets/fonts/Gotham-Bold.ttf
  app/assets/fonts/Gotham-Bold.woff
  app/assets/fonts/Gotham-Bold.woff2
  app/assets/fonts/Gotham-Book.ttf
  app/assets/fonts/Gotham-Book.woff
  app/assets/fonts/Gotham-Book.woff2
  app/assets/fonts/Gotham-Light.ttf
  app/assets/fonts/Gotham-Light.woff
  app/assets/fonts/Gotham-Light.woff2
  app/assets/fonts/Gotham-Medium.ttf
  app/assets/fonts/Gotham-Medium.woff
  app/assets/fonts/Gotham-Medium.woff2
  app/assets/fonts/Gotham-Thin.ttf
  app/assets/fonts/Gotham-Thin.woff
  app/assets/fonts/Gotham-Thin.woff2
  app/globals.css
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint, stylelint

feat(sidebar): start designing sidebar
  app/assets/images/discover.png
  app/assets/images/search.png
  app/assets/images/spotify-logo.png
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/utils/data-dummy.ts
  components/Sidebar/Sidebar.tsx
  components/discover/discover.tsx
  components/menu-item/menu-item.tsx
  components/menu-items/menu-items.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint, stylelint

feat(sidebar): adding playlists section to sidebar and activate link adding playlists section, activate link for nav item, and change padding value BREAKING CHANGE: change sidebar file name
  app/globals.css
  app/library/error.tsx
  app/library/loading.tsx
  app/library/page.tsx
  app/liked-songs/error.tsx
  app/liked-songs/loading.tsx
  app/liked-songs/page.tsx
  app/utils/data-dummy.ts
  components/Sidebar/Sidebar.tsx
  components/menu-item/menu-item.tsx
  components/menu-items/menu-items.tsx
  components/playlist-items/playlist-items.tsx
Due: prettier --write, eslint --fix, eslint, stylelint

feat(app): change scrollbar color
  app/globals.css
  app/layout.tsx
Due: prettier --write, eslint --fix, eslint, stylelint

feat(sidebar): hide scrollbar when user not hovering element
  components/playlist-items/playlist-items.tsx
Due: prettier --write, eslint --fix, eslint

style(color): change color naming in tailwwind config
  app/layout.tsx
  components/Sidebar/Sidebar.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint

style(app): delete some fonts type only adding gotham book fonts and change base font weight app
  app/assets/fonts/Gotham-Black.ttf
  app/assets/fonts/Gotham-Black.woff
  app/assets/fonts/Gotham-Black.woff2
  app/assets/fonts/Gotham-Bold.ttf
  app/assets/fonts/Gotham-Bold.woff
  app/assets/fonts/Gotham-Bold.woff2
  app/assets/fonts/Gotham-Book.ttf
  app/assets/fonts/Gotham-Book.woff
  app/assets/fonts/Gotham-Book.woff2
  app/assets/fonts/Gotham-Light.ttf
  app/assets/fonts/Gotham-Light.woff
  app/assets/fonts/Gotham-Light.woff2
  app/assets/fonts/Gotham-Medium.ttf
  app/assets/fonts/Gotham-Medium.woff
  app/assets/fonts/Gotham-Medium.woff2
  app/assets/fonts/Gotham-Thin.ttf
  app/assets/fonts/Gotham-Thin.woff
  app/assets/fonts/Gotham-Thin.woff2
  app/globals.css
  app/layout.tsx
Due: prettier --write, eslint --fix, eslint, stylelint

style(sidebar): change menu items font weight to semi bold
  components/menu-items/menu-items.tsx
Due: prettier --write, eslint --fix, eslint

feat(app): change structure folder move assets, utils, and public folder to top level directory
  app/globals.css
  assets/fonts/Gotham-Book.ttf
  assets/fonts/Gotham-Book.woff
  assets/fonts/Gotham-Book.woff2
  assets/images/discover.png
  assets/images/search.png
  assets/images/spotify-logo.png
  components/Sidebar/Sidebar.tsx
  components/genres-option/genres-option.tsx
  components/menu-items/menu-items.tsx
  components/playlist-items/playlist-items.tsx
  public/spotify-logo.svg
  public/spotify-logo.webp
  utils/constants.ts
  utils/data-dummy.ts
Due: prettier --write, eslint --fix, eslint, stylelint

style(typography): adding h1, h2, and h3 base style adding h1, h2, and h3 base style to typography css BREAKING CHANGE: adding padding to main layout
  app/globals.css
  app/layout.tsx
  app/page.tsx
  assets/styles/typography.css
Due: prettier --write, eslint --fix, eslint, stylelint

style(typography): fix typo naming classes in typography file on previeous commit
  assets/styles/typography.css
Due: stylelint

style(recent-playlists): designing recent playlist card adding recent playlists layout, include the card and dummy data
  app/layout.tsx
  app/page.tsx
  assets/images/playlist-cover-example.jpeg
  components/recent-playlist-card/recent-playlist-card.tsx
  components/recent-playlists/recent-playlists.tsx
  utils/data-dummy.ts
Due: prettier --write, eslint --fix, eslint

style(playlist-card): styling playlists section with playlist card styling playlists section with playlist card and the dummy data
  app/page.tsx
  components/playlist-card/playlist-card.tsx
  components/playlists/playlists.tsx
  utils/data-dummy.ts
Due: prettier --write, eslint --fix, eslint

refactor(playlist-card): move playlist card image to single comp move playlist card image to single playlist image component to improve code cleaner
  components/header/header.css
  components/playlist-card/playlist-card.tsx
  components/playlist-image/playlist-image.tsx
  public/profile-example.jpg
Due: prettier --write, eslint --fix, eslint, stylelint

style(avatar profile): creating avatar profile component creating avatar profile component and use on header, move image from public
  assets/images/profile-example.jpg
  assets/images/spotify-logo.svg
  assets/images/spotify-logo.webp
  components/account-profile/account-profile.tsx
  components/avatar-profile/avatar-profile.tsx
  components/header/header.tsx
  utils/data-dummy.ts
Due: prettier --write, eslint --fix, eslint

style(searchbar): creating searchbar component creating searchbar component and use conditionally to header BREAKING CHANGE: increase gap class in header flex layout
  components/Searchbar/Searchbar.tsx
  components/header/header.tsx
Due: prettier --write, eslint --fix, eslint

style(collection): layouting collection page add more flexibility for playlists comp, edit some playlists dummy data BREAKING CHANGE: change playlist card grid to 6
  app/collection/error.tsx
  app/collection/loading.tsx
  app/collection/page.tsx
  app/library/page.tsx
  app/page.tsx
  components/filter-option/filter-option.tsx
  components/header/header.tsx
  components/playlists/playlists.tsx
  components/recent-playlists/recent-playlists.tsx
  utils/data-dummy.ts
Due: prettier --write, eslint --fix, eslint

feat(app): change the way using fonts, add more stylelint config, and styling liked- change the way using fonts from css import to next fonts, add bem rules to s
  .stylelintrc
  app/collection/page.tsx
  app/globals.css
  app/layout.tsx
  app/liked-songs/page.tsx
  app/page.tsx
  app/search/page.tsx
  assets/fonts/Gotham-Bold.ttf
  assets/fonts/Gotham-Bold.woff
  assets/fonts/Gotham-Bold.woff2
  assets/fonts/Gotham-Medium.ttf
  assets/fonts/Gotham-Medium.woff
  assets/fonts/Gotham-Medium.woff2
  assets/styles/layout.css
  assets/styles/typography.css
  components/button/button.css
  components/menu-item/menu-item.tsx
  components/menu-items/menu-items.tsx
  components/playlist-banner/playlist-banner.tsx
  components/playlists/playlists.tsx
  tailwind.config.js
  utils/data-dummy.ts
Due: prettier --write, eslint --fix, eslint, stylelint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  stylelint --syntax=scss: any of: *.scss
